transformers
jieba
requests
pandas
scikit-learn
icecream
mysql-connector-python
numpy==1.26.4
tqdm
streamlit
dotenv
openai
langchain_openai
gensim
matplotlib
torchviz
graphviz
torch
torchvision
torchaudio